<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Invitation</title>
</head>
<body>
    
    <h1>Hi {{ staff_name }},</h1>
    <p>You have been invited to join {{ company_name }} by {{ staff_email }}.</p>
    <p>Please click on the link below to accept the invitation:</p>
    <a href="{{ company_website }}">{{ company_website }}</a>
    <p>Thank you for choosing {{ company_name }}.</p>
</body>
</html>